.feedback {
  background: linear-gradient(#fb8627, #f5bef6);
  padding: 65px 0px;
}
.feedback-align {
  display: flex;
  justify-content: space-between;
}
.feedback-navigation {
  display: flex;
  flex-direction: column;
  gap: 15px 90px;
  flex-wrap: wrap;
  max-height: 100px;
}
.feedback-contact {
  display: flex;
  justify-content: space-between;
}
.feedback-logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.feedback-logo img {
  align-self: center;
}
.address {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 1000px) {
  .feedback-align {
    flex-direction: column;
    justify-content: unset;
    gap: 25px;
  }
  .feedback-logo {
    flex-direction: row;
    justify-content: space-between;
  }
  .feedback-contact {
    gap: 15px;
  }
}
