.button {
  color: white;
  padding: 15px;
  border-radius: 30px;
  position: relative;
  border: none;
  background-color: #0f0f17;
  cursor: pointer;
}
.button-wrap {
  width: fit-content;
  background: linear-gradient(#fb8627, #f5bef6);
  border-radius: 30px;
  padding: 2px;
}
.button:hover {
  background: linear-gradient(#fb8627, #f5bef6);
}
